.venv*
.env
data/processed/*
data/raw/*
data/visualizations/*
models/
.DS_Store
src/__pycache__/*
.ipynb_checkpoints/

# Don't ignore .gitkeep files
!data/processed/.gitkeep
!data/raw/.gitkeep
!data/visualizations/.gitkeep
